
@tailwind base;
@tailwind components;
@tailwind utilities;

.csInput ::placeholder {
  color: #F8F8F8 !important;
  opacity: 0.8 !important;
}

.csModal .ant-modal .ant-modal-content {
  background-color: #333652 !important;
  color: #fff;
}
.csModal .ant-modal .ant-modal-content {
    background-color: #333652 !important;
    color: #fff;
}
.csModal .ant-modal .ant-modal-content {
    background-color: #333652 !important;
    color: #fff;
}


.pr{
  background: #FAD02C ;
  color: #313131;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px !important;
  display: flex;
  justify-items: center;
  align-items: center;
}
.pr:hover{
  background: #313131 !important;
 color: #FAD02C ;
}

.sc{
  color: #313131;
  box-shadow: 0px 0px 4px #333652;
  border-radius: 3px !important;
  display: flex;
  justify-items: center;
  align-items: center;
}
.sc:hover{
  background: #FAD02C !important;
  color: #313131;
}